@model List<BD_Materias.Models.Estudiante>


@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">ASIGNACIÓN MATERIAS</h1>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de Estudiantes Matriculados</h5>
    </div>
    <div class="card-body">

        <div class="row"> <!--Para dividir las filas en dos columnas -->
            <div class="col-md-6">
                <form asp-controller="Home" asp-action="Index">
                    <div class="input-group">
                        <input type="text" name="Buscar" id="txtBuscar" class="form-control" placeholder="Buscar" />
                        <button type="submit" class="btn btn-dark">Buscar</button>
                        <button type="button" class="btn btn-secondary" id="btnMostrarTodo">Mostrar Todo</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-success" asp-action="PersonaInteDetalle" asp-controller="Home" asp-route-idPersonaInt="0">Matricular Estudiante</a>
                <a class="btn btn-outline-success" asp-action="Ver_Proyectos" asp-controller="Home" asp-route-idPersonaInt="0">Ver Profesores Disponibles</a>
            </div>
        </div>

        <script>
            document.getElementById("btnMostrarTodo").addEventListener("click", function () {
                window.location.href = '/Home/Index';
            });
        </script>

        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Correo Electrónico</th>
                    <th>Número de Teléfono</th>
                    <th>Dirección</th>
                    <th>Género</th>
                    <th>Fecha de Matricula</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Edad</td>
                        <td>@item.CorreoElectronico</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>@item.Genero</td>
                        <td>@item.FechaInscripcion</td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="PersonaInteDetalle" asp-controller="Home" asp-route-idPersonaInt="@item.Id"> Editar </a>
                            <a class="btn btn-outline-danger" asp-action="Eliminar" asp-controller="Home" asp-route-idPersonaInt="@item.Id"> Eliminar </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
